<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="En ecrit un contenue complet paragrapher")
        meta(name="description", content="En ecrit des mots separatifs ici")
        include _linkCss
        title Document
    body
        header
            .container
                .contentHeader
                    input(type="checkbox", id="nav")
                    label(for="nav") #[i(class="justify fas fa-align-justify ")] #[i(class="right fas fa-align-right")]
                    h2.text-capitalize.text-dark.font-weight-bold doze#[span cafe]
                    nav
                        ul.list-style
                            li #[a(href="#",class="active") home]
                            li #[a(href="#") about]
                            li #[a(href="#") coffees]
                            li #[a(href="#") shop]
                            li #[a(href="#") blog]
                            li #[a(href="#") contact]
                    .users
                        i(class="fa fa-user") #[span login]
                        i(class="fa fa-search")
        include _linkJs